[submodule "CMN"]
	path = CMN
	url = https://github.com/ffmpbgrnn/CMN.git
[submodule "python_config"]
	path = python_config
	url = https://github.com/rendicahya/python_config.git
[submodule "assertpy"]
	path = assertpy
	url = https://github.com/rendicahya/assertpy.git
